
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

.body {
    display: flex;
    flex-direction: column;
    background-color: #d8cbcb;
}

.header .navbar{
    display: flex;
    margin: 30px auto;
    width: 100%;
    justify-content: space-around;
}
.titulo{
    font-family: "Gravitas One", serif;
    flex: 1;
    text-align: left;
    front-size: 50px;
    margin-left: 10px;
}
.header .navbar{

}
.header .menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.header .menu a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1.0rem;
}
.header .menu a:hover{
    transform: scale(1.05);
}
.main{
    display: flex;

}

.card1 {
    margin: 40px auto 0;
    margin-bottom: 20px;
    background-color: azure;
    height: 400px;
    width: 300px;
    border: 4px solid #d8cbcb;
    border-radius: 15px;
    overflow: hidden;
    frot-family: sans-serif;
    box-shadow: 0 4px 10px #555;
}
.card-datos{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card1:hover{
    transform: scale(1.05);
}
.card1 .card-foto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.carrucel{
    display: flex;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 40px;
    margin-bottom: 40px;
}
.carrucel-contenedor{
    display: flex;
    animation: movercarrusel 10s linear infinite;
}
.card2{
    flex: 1 0 auto;
    margin: 0 50px;
    border: 2px solid black;
    background-color: rgb(251, 212, 154);
    height: 300px;
    width: 300px;
}

