
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #220a2b ;
}
section{
    margin-bottom: 80px;
}

.header .navbar{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
    background-color: rgba(51, 51, 51, 0.7)
}
.header .menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.header .menu a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 1.0rem;
}
.header .menu a:hover{
    transform: scale(1.05);
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    display: flex;
    justify-content: center;
    font-family: "Gravitas One", serif;
    margin-top: 80px;
    flex: 1;
    text-align: center;
    front-size: 50px;
    margin-left: 10px;
}
.card1 {
    margin: 40px auto 0;
    margin-bottom: 20px;
    background-color: azure;
    height: 400px;
    width: 300px;
    border: 4px solid #d8cbcb;
    border-radius: 15px;
    overflow: hidden;
    frot-family: sans-serif;
    box-shadow: 0 4px 10px #555;
}
.card-datos{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card1:hover{
    transform: scale(1.05);
}
.card1 .card-foto {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.info{
    padding: 60px 30px;
    background-color: #220a2b;
    text-align: center;
}
.soy-martin{
    font-size: 2rem;
    text-align: center;
    color: black;
}
.info p{
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.6;
}

.conocimientos-dev{
    text-align: center;
    padding: 20px 20px;
    background-color: #220a2b
}
.conocimientos-h2{
    font-size: 2rem;
    margin-bottom: 30px;
}
.idiomas{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.idioma{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}
.idioma:hover{
    transform: scale(1.1);
}
.trabajos{
    text-align: center;
    padding: 20px;
    background: #220a2b;
}
.trabajos img{
    width: 120px;
    margin-top: 10px;
}
footer#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #220a2b;
    color: black
    padding: 30px 15px;
}
.contato h2 ,.contato p{
    text-align: center;
    margin: 10px 0
}
.redes-sociales{
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
.redes-sociales a{
    color: white;
    font-size: 2rem;
    margin: 0 15px;
    transition: color 0.3s;
}
.redes-sociales a:hover{
    color: black;
}
